@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* ANIMATION */
  .x-animation-md {
    @apply transition-all duration-300 ease-out;
  }
}

@layer base {
  /* OFFLINE FONT FAMILY */
  @font-face {
    font-family: "rex";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/font/Rex_Bold.woff) format("woff");
  }
  @font-face {
    font-family: "rex-inline";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/font/Rex_Bold_Inline.woff) format("woff");
  }
  @font-face {
    font-family: "Open-sans";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/assets/font/OpenSans-Light.woff) format("woff");
  }
  @font-face {
    font-family: "Open-sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/font/OpenSans-Regular.woff) format("woff");
  }
  @font-face {
    font-family: "Open-sans";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/assets/font/OpenSans-Semibold.woff) format("woff");
  }
  @font-face {
    font-family: "Open-sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/font/OpenSans-Bold.woff) format("woff");
  }
  /* CUSTOM CSS */
  body {
    @apply max-w-[1920px] mx-auto;
  }

  section,
  header,
  footer {
    @apply relative;
  }

  a,
  button {
    @apply inline-block cursor-pointer;
  }

  img {
    @apply w-fit align-middle;
  }

  input,
  select,
  textarea {
    @apply outline-none bg-transparent focus:outline-none;
  }
}

@layer utilities {
  /* SCROLL */
  body::-webkit-scrollbar {
    width: 8px;
  }
  body::-webkit-slider-thumb {
    background: #d6a354;
    border-radius: 10px;
  }
  body::-webkit-scrollbar-track {
    background: 0 0;
  }
  /* CUSTOM BACKGROUND IMAGE */
  .x-hero-bg {
    background-image: url(/assets/img/bg/hero-bg-mobile.jpg);
    background-position: bottom center;
  }
  .x-footer-bg {
    background-color: #131313;
    background-image: url(/assets/img/white-grunge-180.svg);
    background-repeat: no-repeat;
    background-position: top -170px center;
    background-size: 800px;
  }
  .x-bg-cross {
    background-image: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 10px,
      #fff 10px,
      #fff 20px
    );
  }
  .x-service-bg {
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: bottom 40px right 160px;
  }
  /* IMAGE OVERLAY */
  .x-hero::after {
    position: absolute;
    left: 0;
    width: 100%;
    content: "";
    bottom: -40px;
    z-index: 7;
    height: 80px;
    background-image: url(/assets/img/white-grunge.svg);
    background-repeat: repeat-x;
    background-position: top 2px center;
    background-size: 800px;
  }
  .x-section-title::after {
    position: absolute;
    top: 0;
    right: -20px;
    width: 40px;
    height: 100%;
    background-image: url(/assets/img/gold-v-grunge.svg);
    background-repeat: repeat-y;
    background-position: center center;
    background-size: cover;
    content: "";
  }
  .x-bg-about-img::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background-image: url(/assets/img/white-grunge-90.svg);
    background-repeat: no-repeat;
    background-position: center left 20px;
    background-size: 150px;
    content: "";
  }
  /* CUSTOM NAV MENU TOGGLE */
  .x-toggle-btn::before {
    top: 14px;
    content: "";
  }
  .x-toggle-btn::after {
    top: 28px;
    content: "";
  }
  .x-toggle-btn > span,
  .x-toggle-btn::before,
  .x-toggle-btn::after {
    position: absolute;
    left: 11px;
    width: 22px;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    transform-origin: center left;
    transition: all 0.3s ease-out;
  }
  .x-toggle-btn > span {
    top: 21px;
  }
  .x-toggle-close > span {
    opacity: 0;
    width: 0;
  }
  .x-toggle-close::before {
    top: 13px;
    left: 14px;
    width: 23px;
    transform: rotate(45deg);
    transform-origin: left center;
  }
  .x-toggle-close::after {
    top: 29px;
    left: 14px;
    width: 23px;
    transform: rotate(-45deg);
    transform-origin: left center;
  }
  /* TEXT SHADOW */
  .x-text-shadow-1 {
    text-shadow: -3px 2px 0 #896322;
  }
  @media (min-width: 700px) {
    /* CUSTOM BACKGROUND IMAGE */
    .x-hero-bg {
      background-image: url(/assets/img/bg/hero-t.jpg);
    }
    .x-about-bg {
      background-image: url(/assets/img/bg/price-bottom-d.jpg);
      background-position: top right;
      background-size: 1000px;
    }
    .x-footer-bg {
      background-image: url(/assets/img/white-grunge-180.svg),
        url(/assets/img/bg/barberpull.jpg);
      background-repeat: repeat-x, no-repeat;
      background-position: top -170px center, center center;
      background-size: 799px, cover;
    }
    .x-service-bg {
      background-size: 120px;
      background-position: center right;
    }
    /* TEXT SHADOW */
    .x-text-shadow-1 {
      text-shadow: -4px 3px 0 #896322;
    }
    .x-text-shadow-2 {
      text-shadow: 0 0 20px #896322;
    }
  }
  @media (min-width: 1000px) {
    /* CUSTOM BACKGROUND IMAGE */
    .x-hero-bg {
      background-image: url(/assets/img/bg/hero.jpg);
      background-position: bottom center;
    }
    .x-about-bg {
      background-size: 900px;
    }
    .x-service-bg {
      background-size: 80px;
      background-position: center right 10px;
    }
  }
}
@media (min-width: 1200px) {
  /* CUSTOM BACKGROUND IMAGE */
  .x-about-bg {
    background-size: 1200px;
  }
  .x-service-bg {
    background-size: 100px;
  }
}
@media (min-width: 1500px) {
  /* CUSTOM BACKGROUND IMAGE */
  .x-about-bg {
    background-size: 1400px;
  }
}
